<!DOCTYPE html>
<html>
  <head>
      <title>{% block title %}{% endblock %}</title>
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"/>
      <style>
          .text-center {
            background: #33FF9C;
            text-align: center;
            color: black;
            border: 5px solid black;
            padding: 10px;
          }
          .text-center-2 {
            background: black;
            color: #33FF9C;
            text-align: left;
            border: 3px solid grey;
            padding: 10px;
          }
      </style>
  </head>
  <body>
      {% block body %}
      {% endblock %}
  </body>
</html>
